.feedbackPage {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
}

.feedback-header {
  align-items: center;
  background-color: #f58a27;
  display: flex;
  width: 100%;
}

.userImg {
  border-radius: 100%;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.userName, .playScore {
  margin: 10px;
}

.feedback-section {
  background-color: #ebe419;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}

.feedbackNumber {
  color: #7816de;
  margin-top: 1px;
}

p {
  font-weight: 1000;
}

.feedbackBtn {
  align-self: center;
  background-image: linear-gradient(45deg, #feed00 50%, transparent 50%);
  background-position: 90%;
  background-size: 300%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  height: 50px;
  margin: 10px;
  transition: width 2s height 2s transform 2s background 700ms ease-in-out;
  width: 65px;
}

.feedbackBtn:hover {
  background-image: linear-gradient(45deg, #f58a27 50%, transparent 50%);
  background-position: 0;
  border: solid 1px #f58a27;
  color: white;
  transform: rotate(360deg);
}

@media screen and ( max-width : 768px ) {

  .feedback-section {
    height: 70vh;
    width: 40vh;
  }

  .timer-div {
    height: 45px;
    width: 45px;
  }
}

