.feedbackPage {
  align-items: center;
  background-color: #282c34;;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%vh;
}
.feedback-header{
  align-items: center;
  background-color: #F58A27;
  display: flex;
  width: 100%;
}

.userImg {
  border-radius: 100%;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.userName, .playScore {
  margin: 10px;
}

.feedback-section {
  width: 500px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #EBE419;
  display: flex;
  flex-direction: column;
}
.feedbackNumber {
  color:#7816DE;
  margin-top: 1px;
}
p {
  font-weight: bolder;
}
.feedback-text {

}
.feedbackBtn {
  transition: width 2s, height 2s, transform 2s, background 700ms ease-in-out;
  border-radius: 10px;
  width: 65px;
  margin: 10px;
  height: 50px;
  align-self: center;
  color:black;
  background-image: linear-gradient(45deg, #feed00 50%, transparent 50%);
  background-position: 90%;
  background-size: 300%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.feedbackBtn:hover {
  transform: rotate(360deg);
  border: solid 1px #F58A27;
  background-image: linear-gradient(45deg, #F58A27 50%, transparent 50%);
  background-position: 0;
  color: white;
}

@media screen and ( max-width : 768px ) {

  .feedback-section  {
    height: 70vh;
    width: 40vh;
  }
  .timer-div {
    height: 45px;
    width: 45px;
  }
}

