.game-pag {
  align-items: center;
  background-color: #282c34;;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%vh;
}

.game-header {
  align-items: center;
  background-color: #F58A27;
  display: flex;
  width: 100%;
}

.user-Image {
  border-radius: 100%;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.playerName, .playerScore {
  margin: 10px;
}

.questions-section{
  width: 500px;
  height: 60vh;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #EBE419;
  display: flex;
  flex-direction: column;
}

.timer-div {
background-color: white;
align-self: center;
border-radius: 100%;
height: 60px;
width: 60px;
}

p {
   margin: 3px;
}
.question-div {
  margin: 10px 0;
  font-size: 30px;
}

.answers-div {
  background-color: #F58A27;
  display: flex;
  flex-direction: column;
}

.btn_Answer, .answerBtn, .nextBtn {
  height: 50px;
  margin: 10px;
  color:black;
  background-image: linear-gradient(45deg, #feed00 50%, transparent 50%);
  background-position: 90%;
  background-size: 500%;
  transition: background 700ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.btn_Answer, .answerBtn {
  width: 80%
}

.answerBtn:disabled  {
  border: 3px solid red;
  background-image: none;
  background-color: red;
}

.btn_Answer:disabled  {
  border: 3px solid rgb(6, 240, 15);
  background-image: none;
  background-color: rgb(6, 240, 15);
}

.answerBtn:hover, .btn_Answer:hover {
  box-shadow: 1px 1px 25px 10px rgba(207, 90, 61, 0.4);
  background-position: 0;
  color: white;
  
}
.nextBtn{
  transition: width 2s, height 2s, transform 2s;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  align-self: center;
}

.nextBtn:hover {
  transform: rotate(360deg);
  border: solid 1px #F58A27;
  background-image: linear-gradient(45deg, #F58A27 50%, transparent 50%);
  background-position: 0;
  color: white;
}


#btnAnswer:hover:before {
  left: 100%;
}

@media screen and ( max-width : 568px) {
  .question-div  {
    font-size: 15px;
  }
}

@media screen and ( max-width : 768px ) {

  .questions-section {
    margin-top: 10px;
    height: 83vh;
    width: 40vh;
  }
  .timer-div {
    height: 45px;
    width: 45px;
  }
}


