.game-pag {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* background-image: url('tijoloEscuro.jpg'); */
  width: 100%;
}

.game-header {

  /* justify-content: space-between; */
  align-items: center;
  background-color: #f58a27;
  display: flex;
  width: 100%;
}

.user-Image {
  border-radius: 100%;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.playerName, .playerScore {
  margin: 10px;
}

.questions-section {
  background-color: #ebe419;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}

.timer-div {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  font-size: 30px;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.question-div {
  font-size: 30px;
  margin: 10px 0;
}

.answers-div {
  align-items: center;
  background-color: #f58a27;
  display: flex;
  flex-direction: column;
}

.btn_Answer, .answerBtn, .nextBtn {
  background-image: linear-gradient(45deg, #feed00 50%, transparent 50%);
  background-position: 90%;
  background-size: 500%;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: 800;
  height: 50px;
  margin: 10px;
  transition: background 700ms ease-in-out;
}

.btn_Answer, .answerBtn {
  width: 80%;
}

.answerBtn:disabled {
  background-color: red;
  background-image: none;
  border: 3px solid red;
}

.btn_Answer:disabled {
  background-color: rgb(6, 240, 15);
  background-image: none;
  border: 3px solid rgb(6, 240, 15);
}

.answerBtn:hover, .btn_Answer:hover {
  background-position: 0;
  box-shadow: 1px 1px 25px 10px rgba(207, 90, 61, 0.4);
  color: white;

}

.nextBtn {
  align-self: center;
  border-radius: 10px;
  height: 50px;
  transition: width 2s , height 2s , transform 2s;
  width: 50px;
}

.nextBtn:hover {
  background-image: linear-gradient(45deg, #f58a27 50%, transparent 50%);
  background-position: 0;
  border: solid 1px #f58a27;
  color: white;
  transform: rotate(360deg);
}

@media screen and ( max-width : 568px ) {

  .question-div {
    font-size: 15px;
  }

}

@media screen and ( max-width : 768px ) {

  .questions-section {
    height: 83vh;
    margin-top: 10px;
    width: 40vh;
  }

  .timer-div {
    height: 45px;
    width: 45px;
  }
}
